.product-main__content > .product-block:not(:first-child) {
	margin-top: 16px;
	margin-bottom: 16px;
}
.eyebrow {
	display: inline-block;
	font-family: var(--font-heading);
	font-weight: 500;
	font-size: clamp(0.625rem, 0.6rem + 0.1vw, 0.75rem);
	letter-spacing: 0.26em;
	text-transform: uppercase;
	color: var(--color-accent);
}

shopify-accelerated-checkout {
	--shopify-accelerated-checkout-button-border-radius: 50px !important;
}
.shopify-payment-button__button--unbranded {
	background-color: var(--color-primary-button-background);
  	color: var(--color-primary-button-label);
}
.shopify-payment-button__button--unbranded:hover:not([disabled]) {
	background-color: var(--color-primary-button-hover-background);
  	color: var(--color-primary-button-label);
}

.product-delivery-dates {
	display: flex;
	align-items: center;
	gap: 8px;
}
.product-delivery-dates .icon-md svg {
	width: 20px;
}

/* -------- icons with text block -------- */

.icon-text-block--vertical.homepage-usps-info .icon-wrapper img{
	filter: brightness(0) saturate(100%) invert(43%) sepia(0%) saturate(1647%) hue-rotate(175deg) brightness(87%) contrast(94%);
}

.icon-text-block--vertical.homepage-usps-info .icon-text strong {
	display: inline-block;
	margin-bottom: 3px;
}
.icon-text-block {
	width: 100%;
}

/* INLINE (all items in one row, icon top, text below) */
.product-main__content .icon-text-block--inline.product-block {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.icon-text-block--inline .icon-text-item {
	flex: 1 1 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: 1rem;
}

/* VERTICAL (each item row, icon left, text right) */
.product-main__content .icon-text-block--vertical.product-block {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.icon-text-block--vertical .icon-text-item {
	display: flex;
	align-items: center;
	gap: 12px;
}

.icon-wrapper img {
	display: block;
	height: auto;
	aspect-ratio: 1 / 1;
}

.icon-wrapper{
	background-color: #f9f9f9;
	padding: 10px;
	border-radius: 50%;
}

.icon-text {
	line-height: 1.4;
}

.icon-text-block--vertical.homepage-usps-info .icon-text-item {
	width: calc(50% - 12px);
}

.product-main__content .icon-text-block--vertical.homepage-usps-info {
	flex-direction: row;
	flex-wrap: wrap;
}

@media (max-width: 520px) {
	.product-main__content .icon-text-block--inline.product-block {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 15px;
	}
	.product-main__content .icon-text-block--inline.inline-mobile-columns-2 {
		grid-template-columns: 1fr 1fr;
	}
	.product-main__content .icon-text-block--inline.inline-mobile-columns-3 {
		grid-template-columns: 1fr 1fr 1fr;
	}
	.product-main__content .icon-text-block--inline.inline-mobile-columns-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}     
	.product-main__content .icon-wrapper {
		padding: 5px;
	}
	.icon-text-block--vertical.homepage-usps-info .icon-text-item {
		align-items: flex-start;
	}
}
/* icons with text block end */
.product-block.product-rich-text.product-rich-text--text-left.founder-price-block {
    padding: 0;
    display: flex;
    align-items: center;
}

.product-block.product-rich-text.product-rich-text--text-left.founder-price-block span.product-rich-text__icon {
    background: none;
    padding: 0;
}

.product-block.product-rich-text.product-rich-text--text-left.founder-price-block span.product-rich-text__icon svg {
    color: #000;
    height: 30px;
}

.product-block.product-rich-text.product-rich-text--text-left.regular-price-block {
    display: flex;
    padding: 10px 10px;
}

.product-block.product-rich-text.product-rich-text--text-left.regular-price-block span.product-rich-text__icon {
    background: none;
    padding: 0;
}

.product-block.product-rich-text.product-rich-text--text-left.regular-price-block span.product-rich-text__icon svg {
    color: #000;
}

.product-block.product-rich-text.product-rich-text--text-left.regular-price-block ul {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
}

.product-block.product-rich-text.product-rich-text--text-left.regular-price-block li {
    margin-top: .5em;
    margin-bottom: .5em;
    color: #000;
    opacity: 1;
    font-weight: 500;
    font-size: 16px;
}

.product-block.product-rich-text.product-rich-text--text-left.regular-price-block .product-rich-text__heading {
    font-size: 18px;
    font-weight: 800;
}

.reserve-spot-button {
	padding: 16px 40px !important;
}